@using WebMatrix.Data;
@{
    ViewBag.Title = "View Inventory";
    Layout = "~/Views/Shared/_LayoutAdminQueries.cshtml";
    var db = Database.Open("dbConnect");
    var view = db.Query("SELECT * FROM tblItem,tblItemType WHERE strItemITypeId=strItemTypeId");
    <script>
        $(document).ready(function () {
            $('#tableData').DataTable();
        });
    </script>
}
<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-brand">Inventory View</div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Inventory</h1>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tableData" class="table dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Item Id</th>
                                <th>Item</th>
                                <th>Item Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var x in view)
                                {
                                    <tr>
                                        <td>@x.strItemId</td>
                                        <td>@x.strItemName</td>
                                        <td>@x.strItemTypeName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>